<!DOCTYPE html>
<html lang="ko" xmlns:th="http://wwww.thymeleaf.org" xmlns:layout="http://ultrag.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>맴</title>
        <style>
            * {
                box-sizing: border-box;
                margin: 0;
                padding: 0;
            }
            html {
                height: 100vh;
                color: #bec7d5;
            }
            body {
                height: 100%;
                display: flex;
                flex-direction: column;
            }
            a {
                text-decoration: none;
            }
        </style>
        <script th:inline="javascript">
            //thymeleaf 에 사용하는 변수 (EL,@{/}) 를 문자열로 변환하여 rootPath 변수에 할당하기
            const rootPath = /*[[@{/}]]*/
        </script>
        <link rel="stylesheet" th:href="@{/static/css/main.css}" />
        <script th:src="@{/static/js/main.js}" th:inline="javascript"></script>
    </head>
    <body>
        <div class="header">
            <h3><a href="${rootPath }">맴맴</a></h3>
            <nav class="nav">
                <a href="${rootPath }/main/login">로그인</a>
                <a href="${rootPath}/main/join">회원가입</a>
                <a href="${rootPath }/main/mypage"> </a>
            </nav>
        </div>
        <div class="side">
            <ul>
                <li>회원권</li>
                <li>회원관리</li>
                <li>강사관리</li>
                <li>수업관리</li>
                <li>일정관리</li>
                <li>공지사항</li>
            </ul>
        </div>
        <section class="main" layout:fragment="content"></section>
    </body>
</html>
