div.detail_box {
  width: 70%;
  margin: 20px auto;
}
h3 {
  font-size: 24px;
  font-weight: 400;
  margin: 10px 20px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  margin: 15px 0;
}
div.card {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2),
    0 4px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #012b39;
  display: flex;
  flex-direction: column;
}
div.container {
  padding: 1rem 16px 0.5rem 16px;
}

div.info {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  div {
    display: flex;
    strong {
      flex: 1;
    }
    p {
      flex: 2;
    }
  }
}

div.info.head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #3d4340;
  padding: 8px;
  strong {
    flex: 1;
    text-align: center;
  }
  p {
    flex: 1;
    text-align: center;
    padding-bottom: 2px;
    border-bottom: 1px solid #313749;
  }
  a {
    flex: 1;
  }
}
a.message_btn {
  width: 20%;
  border-radius: 0;
  background-color: #313749;
  color: #bec7d5;
  font-weight: 200;
  margin: 0;
}

div.detail.btn_box {
  margin: 5px 10px 20px auto;
  a {
    width: 30%;
    margin: 5px auto;
    border-radius: 0;
    background-color: #313749;
    color: #bec7d5;
    font-weight: 200;
  }
}
