@charset "UTF-8";
div.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: left;
    background-color: #303633;
    border-bottom: 1px solid #d082c5;
    a {
        margin-left: 1rem;
        color: #bec7d5;
    }
}

nav.nav {
    margin-left: auto;
    a {
        margin: 8px;
        font-size: 0.9rem;
        font-weight: 500;
        color: #bec7d5;
        border-bottom: 1px solid transparent;
    }
}

div.main {
    display: flex;
    height: 100%;
    background-color: #303633;
    section {
        width: 100%;
    }
}

div.side {
    padding: 10px;
    width: 8rem;
    background-color: #303633;
    border-right: 1px solid #d082c5;
    ul {
        list-style: none;
        li {
            padding: 5px;
            margin: 12px 8px;
            color: #86d0eb;
            font-size: 0.9rem;

            &:hover {
                cursor: pointer;
                color: #87dbf4;
            }
        }
    }
}

div.login_wrap,
div.join_wrap {
    height: 90%;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
form.login {
    width: 70%;
    height: 50%;
    background-color: #25293482;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
        color: #bec7d5;
        font-weight: 200;
        font-size: 2rem;
        padding: 5px 12px;
        margin: 4px 0 2rem 0;
        border-bottom: 1px solid;
    }
    div {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    input {
        padding: 12px;
        border: none;
        outline: none;
        background-color: #30373f;
        margin: 5px auto;
        width: 80%;
        text-align: center;
        color: white;
    }
    &:nth-of-type(1) {
        text-align: center;
        color: #e46c7a;
        size: 1.3rem;
    }
    button {
        width: 30%;
        margin: 5px auto;
        border-radius: 0;
        background-color: #313749;
        color: #bec7d5;
        font-weight: 200;
    }
}
form.join {
    width: 70%;
    height: 80%;
    background-color: #25293482;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
        color: #bec7d5;
        font-weight: 200;
        font-size: 2rem;
        padding: 5px 12px;
        margin: 4px 0 2rem 0;
        border-bottom: 1px solid;
    }
    label {
        flex: 1;
    }
    div {
        width: 100%;
        display: flex;
        flex-direction: column;
        div.join.error {
            text-align: center;
            color: #e46c7a;
            size: 1.3rem;
        }
    }
    input {
        flex: 3;
        padding: 12px;
        border: none;
        outline: none;
        background-color: #30373f;
        margin: 5px auto;
        width: 80%;
        color: white;
    }
    button {
        width: 30%;
        margin: 5px auto;
        border-radius: 0;
        background-color: #313749;
        color: #bec7d5;
        font-weight: 200;
    }
}

/* form.join {
    width: 40%;
    margin: 10rem auto;
    div {
        display: flex;
        align-items: center;
        justify-content: center;
        label {
            flex: 1;
        }
        input {
            flex: 3;
            padding: 8px;
            margin: 3px;
            border: none;
            border-radius: 10px;
        }
    }
} */

div.authenticated {
    display: flex;
    align-items: center;
    justify-content: center;
    form.logout,
    a {
        cursor: pointer;
        font-size: 0.9rem;
        font-weight: 500;
        margin: 0 10px;
    }
}

/* CSS */
.button-32 {
    background-color: #fcf5e9;
    border-radius: 12px;
    color: #000;
    cursor: pointer;
    font-weight: bold;
    padding: 8px 12px;
    text-align: center;
    transition: 200ms;
    width: 100%;
    box-sizing: border-box;
    border: 0;
    font-size: 0.8rem;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 8px;
}

.button-32:not(:disabled):hover,
.button-32:not(:disabled):focus {
    outline: 0;
    background: #313749;
    color: #bec7d5;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}

.button-32:disabled {
    filter: saturate(0.2) opacity(0.5);
    -webkit-filter: saturate(0.2) opacity(0.5);
    cursor: not-allowed;
}
