@charset "UTF-8";
div.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    text-align: left;
    background-color: #313749;
    color: #77808b;
}

nav.nav {
    margin-left: auto;
    a {
        margin: 8px;
        font-size: 0.9rem;
        color: #bec7d5;
    }
}

div.main {
    display: flex;
    height: 100%;
    background-color: #2b2d3d;
    section {
        width: 100%;
    }
    div.side {
        padding: 5px;
        width: 5.5rem;
        background-color: #2a2c3c;
        ul {
            list-style: none;
            li {
                padding: 5px;
                margin: 12px 5px;
                color: white;
                font-size: 0.8rem;

                &:hover {
                    cursor: pointer;
                    color: #87dbfc;
                }
            }
        }
    }
}
