<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.callor.hello.dao.CompanyDao">

	<insert id="createCompany">
		INSERT INTO tbl_company(c_code,c_name)
		VALUES
		<foreach collection="list" item="vo" separator=", ">
			(#{vo.c_code},#{vo.c_name})
		</foreach>
	</insert>

	<update id="update"></update>
	<delete id="delete"></delete>

</mapper> 