<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.callor.hello.dao.MinfoDao">
	<insert id="insert">
		INSERT INTO tbl_minfo(i_title, i_price, i_count, i_ccode)
		VALUES(#{i_title}, #{i_price}, #{i_count}, #{i_ccode})
	</insert>
	<update id="update">
		UPDATE tbl_minfo 
		SET i_title=#{i_title}, i_price=#{i_price}, i_count=#{i_count}
		WHERE i_seq = #{i_seq}
	</update>

</mapper> 