<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.callor.hello.dao.NoticeDao">

	<select id="selectSearchAll">
		SELECT * FROM tbl_notice
		<where>
			<if test="n_title != null and n_title != '' ">
				AND n_title LIKE CONCAT('%', #{n_title}, '%')</if>
			<if test="n_date != null and n_date != '' ">
				AND n_date LIKE CONCAT('%', #{n_date}, '%')</if>
				AND n_ccode = #{n_ccode}
		</where>
	</select>
	<select id="findById">
		SELECT * FROM tbl_notice
		WHERE n_seq = #{seq}
	</select>

	<insert id="insert">
		INSERT INTO tbl_notice(n_seq ,n_title, n_content, n_ccode, n_uid, n_date, n_time)
		VALUES(#{n_seq}, #{n_title}, #{n_content}, #{n_ccode}, #{n_uid}, #{n_date}, #{n_time})
	
	</insert>

	<update id="update">
		UPDATE tbl_notice SET n_title = #{n_title}, n_content= #{n_content}
		WHERE n_seq = #{n_seq}
	</update>

</mapper> 