<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.callor.hello.dao.RoleDao">

	<insert id="insertAll">
		INSERT INTO tbl_role(r_uid,r_role)
		VALUES
		<foreach collection="list" item="vo" separator=", ">
			(#{vo.r_uid},#{vo.r_role})
		</foreach>
	</insert>

	<update id="update"></update>
	<delete id="delete"></delete>

</mapper> 