<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.callor.hello.dao.UserMinfoDao">

	<select id="selectAll">
		SELECT * FROM tbl_minfo
		WHERE i_ccode = #{ccode}
	</select>

	<insert id="insert">
		INSERT INTO tbl_user_minfo(r_iseq,r_uid, r_icount,
		r_sdate, r_edate)
		VALUES(#{r_iseq}, #{us_uid}, #{r_icount}, #{r_sdate},
		#{r_edate} )
	</insert>

	<select id="findById">
		SELECT * FROM tbl_user_minfo
		JOIN tbl_minfo ON r_iseq
		= i_seq
		WHERE r_uid = #{seq}
	</select>

	<select id="salesSearchAll">
		SELECT r_sdate, r_uid, i_seq, i_title, i_price, i_ccode FROM tbl_user_minfo
		JOIN tbl_minfo ON r_iseq = i_seq
		<where>
			<if test="s_sdate != null and s_sdate != '' and s_edate != null and s_edate !=''">
				AND r_sdate BETWEEN #{s_sdate} AND #{s_edate}
			</if>
			<if test="s_uid != null and s_uid != '' ">
				AND r_uid LIKE CONCAT('%', #{s_uid}, '%')</if>
			<if test="s_ititle != null and s_ititle != '' ">
				AND i_title LIKE CONCAT('%', #{s_ititle}, '%')</if>
			AND i_ccode = #{s_ccode}
		</where>
		ORDER BY r_sdate ASC
	</select>

	<select id="checkMinfo">
		select * from tbl_user_minfo
		where r_iseq = #{seq} and
		r_uid = #{id}
	</select>

	<select id="findBySeq">
		SELECT * FROM tbl_minfo
		WHERE i_seq = #{seq}
	</select>
	
	<select id="findCname">
		SELECT * FROM tbl_company
		WHERE c_code = #{ccode} 
	</select>

	<select id="countUser">
		SELECT count(*) FROM tbl_user_minfo
		LEFT JOIN tbl_user
		ON u_id = r_uid
		LEFT JOIN tbl_user_comp ON u_id = us_uid
		WHERE us_ccode
		= #{ccode} AND r_iseq = #{seq}
	</select>

	<select id="total">
		select sum(i_price) as total_price
		from tbl_user_minfo
		join tbl_minfo on r_iseq = i_seq
		WHERE i_ccode = #{ccode}
	</select>
	<select id="Monthtotal">
		SELECT SUM(i_price) AS total_price
		FROM tbl_user_minfo
		JOIN tbl_minfo ON r_iseq = i_seq
		where r_sdate between '2024-05-01' and
		'2024-05-31' and i_ccode = #{ccode}
	</select>


	<update id="update">
		UPDATE tbl_user_minfo
		SET
		r_icount = #{r_icount},
		r_sdate = #{r_sdate},
		r_edate = #{r_edate}
		WHERE r_iseq = #{r_iseq}
	</update>

	<delete id="delete">
		DELETE FROM tbl_user_minfo WHERE r_uid = #{seq}
	</delete>

	<delete id="tickdelete">
		DELETE FROM tbl_user_minfo WHERE r_uid = #{id} AND
		r_iseq=#{seq}
	</delete>


</mapper> 